<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="src/backend/app.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeApp">
          <match url=".*" />
          <action type="Rewrite" url="src/backend/app.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
